*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
html{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100dvw;
    font-size: 62.5%;
}
body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    text-align: center;
    background: rgb(216, 196, 196);
    font-size: 1.9rem;
}
header{
    padding: 5dvh;
    background-image: url(https://i.pinimg.com/originals/42/0c/d0/420cd041c2da516fec374fb717dbd9c2.jpg);
    background-size: cover;
    margin-bottom: 5px;
}
h1{
   color: brown;
   font-size: 10dvwpx;
   text-align: center;
   margin: 10px;
}

img{
    width: 300px;
}
.row{
    display: flex;
    flex-direction: row;
}

.container{
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    background: rgb(206, 155, 44);
    color: rgb(224, 226, 217);
    width: 100px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 20pt;
    transition: 200ms;
    font-size: 1.5rem;
   
    
}

.btn:hover{
    color: rgb(206, 155, 44);
    background: rgb(224, 226, 217);
    cursor: pointer;
    border-radius: 10pt;
    transform: scale(1.2);


}

input{
    color: grey;
    background: aliceblue;
    font-family: monospace;
    font-size: 1rem;
    text-align: center;
    justify-self: center;
    border-radius: 10pt;
    padding: 15px;
    width: 150px;
}